body {
    margin: 0;
    background-color: #346280;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    position: fixed;
    font-family: 'Pacifico', serif;
    background-image: url("https://raw.githubusercontent.com/JLgrk/Donut-Shop/main/images/polkadots.jpg");
    margin: 0;
    border-bottom: #4683ab 2px solid;
    display: flex;
    width: 100%;
    z-index: 2;
}
.logo {
    margin: 0 0 0 40px;
    padding: 0 0 10px 10px;
    font-size: 3.5em;
}
#menu-icon {
    display: hidden;
    width: 35px;
    height: 35px;
    background: url(/images/menu-icon.png);
    background-size: 35px 35px;
}
h1 a {
    text-decoration: none;
    color: #343531;
}
nav {
    margin: 30px 30px 30px auto;
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
}
nav li {
    padding-right: 40px;
    display: inline;
    list-style: none;
    font-size: 1.75em;
}

li a {
    text-decoration: none;
    color: #343531;
    padding: 5px;
    
}
.red:hover {
    border: 3px solid #f06a7b;
    border-radius: 20px;
    transition-property: border;
    transition-duration: 0.2s;
    
}
.blue:hover {
    border: 3px solid #b38bb4;
    border-radius: 20px;
    transition-property: border;
    transition-duration: 0.2s;
    
}
.yellow:hover {
    border: 3px solid #dec26f;
    border-radius: 20px;
    transition-property: border;
    transition-duration: 0.2s;
    
}
img {
    display: block;
    margin: 0px auto;
    width: 100%;
    height: auto;
}
.about-container {
    width: 85%;
    margin: 30px auto;
    padding: 5px 0 20px 10px;
    border-top: #4683ab 2px solid;
    text-align: center;
    color: #f7edbe;
    opacity:90%;
    font-size: 1.25em;
}
h2 {
    font-size: 2em;
    font-family: 'Pacifico', serif;
    text-align: center;
    color: #171614;
}

/* Donuts page */

.intro-container {
    width: 90%;
    border-bottom: #4683ab 2px solid;
    color: #f7edbe;
    opacity: 80%;
    margin: 130px auto 0 auto;
    grid-area: intro;
    text-align: center;
    font-size: 1.25em;
}

.grid-container {
    display: grid;
    justify-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    grid-gap: 30px;
    grid-template-areas: 
        "intro intro intro"
        "topleft topmid topright"
        "midleft midmid midright";
}
.type-header {
    text-align: center;
    font-size: 1.75em;
    font-family: 'Pacifico', serif;
    grid-area: intro;
}
.wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #b38bb4;
    border-radius: 15px;
}
.wrapper:hover .overlay {
    opacity: 0.85;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.old-fashioned{
    grid-area: topright;
    width: 300px;
    border-radius: 15px;
}
.plain {
    grid-area: topleft;
    width: 100%;
    border-radius: 15px;
}
.sprinkles {
    grid-area: topmid;
    width: 300px;
    border-radius: 15px;
}
.french {
    grid-area: midleft;
    width: 300px;
    border-radius: 15px;
}
.lemon {
    grid-area: midright;
    width: 300px;
    border-radius: 15px;
}
.cinnamon {
    grid-area: midmid;
    width: 300px;
    border-radius: 15px;
}

/*Other Goodies Page*/

.menu-container {
    display: flex;
    justify-content: center;
}

.menu-box {
    width: 85%;
    height: 80%;
    margin-top: 150px;
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8,1fr);
    text-align: center;
    color: #f7edbe;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    align-items: center;

}
.beverages {
    grid-area: 1/1/4/4; 
}
.cappuccino-img {
    grid-area: 1/4/3/7;
    width: 85%;
    border-radius: 5px;
    align-self: end;
}
.pastries-img {
    grid-area: 4/1/6/4;
    width: 85%;
    border-radius: 5px;
}
.pastries-list {
    grid-area: 3/4/6/7;
}
.sandwich-img {
    grid-area: 6/4/8/7;
    width: 85%;
    border-radius: 5px;
    align-self: end;
}
.sandwiches {
    grid-area: 6/1/8/4;
}

/* Contact Page*/

.contact-container {
    display: inline-flex;
    margin-top: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.contact-intro {
    width: 90%;
    border-bottom: #4683ab 2px solid;
    color: #f7edbe;
    opacity: 80%;
    text-align: center;
    font-size: 1.1em;
}
.contact-form {
    width: 50%;
    margin: 50px auto;
}
label {
    color: #171614;
    display: inline-block;
}
form ul {
    padding: 0;
}
form li {
    margin: 20px auto;
    list-style: none;
}
form input {
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #171614;
    width: 100%;
}
form textarea {
    border-radius: 5px;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #171614;
}
form button {
    padding: 5px 10px;
    border-radius: 5px;
}
form button:hover {
    background-color:  #b38bb4;
    color: #f7edbe;
}

/*Footer*/

footer {
    display: flex;
    justify-content: left;
    width: 100%;
    flex-wrap: wrap;
    background-color: #fff;

}
.footer-main {
    padding: 10px 20px 10px 40px;
}
.footer-item {
    max-width: 130px;
    align-self: center;
}
h4 {
    padding: 0;
    font-family: 'Pacifico', 'serif';
    
}
#footer-email {
    margin-left: auto;
    margin-right: 30px;
}
footer button {
    margin: 10px 10px 10px 0;
}
.social-links {
    display: inline-block;
}
.social {
    height:75px;
    display: inherit;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 1000px) {
    .grid-container {
        grid-template-areas:
            "intro intro"
            "topleft topmid"
            "topright midleft"
    }
    header {
        position: absolute;
        width: 100vw;
    }
    #menu-icon {
        display:inline-block;
    }
    nav ul, nav:active ul { 
        display: none;
		position: absolute;
		padding: 15px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 170px;
		border-radius: 4px;
    }
    nav li {
        text-align: center;
		width: 100%;
		padding: 10px 0;
        margin: 0;
        font-size: 1.5em;
    }
    nav:hover ul {
        display: block;
    }
}
@media only screen and (max-width : 550px) {
    .logo {
        font-size: 2.5em;
        margin: 0 0 0 30px;
        padding: 15px 0 0px 0px;
    }
    .grid-container {
        width: 70%;
        justify-content: center;
        grid-template-areas:
                "intro" 
                "intro"
                "topleft" 
                "topmid"
                "topright" 
                "midleft"
                "midright"
                "midmid"
    }
    .cappuccino-img {
        align-self: center;
    }
    #footer-email {
        margin-left: unset;
    }
}